$shadows: (mid: (offset-x: 2px, offset-y:3px, blur-radius:0.5rem, color: rgba(0, 0, 0, 0.18)),
    dark:(offset-x: 3px, offset-y:4px, blur-radius:1rem, color: rgba(0, 0, 0, 0.3)),
    light:(offset-x: 1px, offset-y:2px, blur-radius:0.2rem, color: rgba(0, 0, 0, 0.1)));